@charset "UTF-8";
* {
  box-sizing: border-box; }

body {
  min-width: 550px;
  margin: 0;
  background-color: black; }

#header {
  background-color: black;
  width: 100%;
  height: 25px;
  text-align: center; }
  #header button {
    font-weight: bold;
    margin-left: 25px;
    margin-right: 25px; }

#whole_table {
  border: 20px solid #452209;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: green;
  text-align: center;
  min-height: 600px; }

#dealer h2,
#player1 h2 {
  margin-top: 0;
  margin-bottom: 0; }

.total_points {
  margin: auto;
  background-color: black;
  color: white;
  width: 40%;
  height: 20px; }

#table_text {
  color: white; }
  #table_text h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em; }

#result {
  display: inline-block;
  color: white;
  border: 1px dashed white;
  border-radius: 5px;
  width: 85%;
  min-width: 400px;
  height: 20px;
  font-weight: bold;
  margin-bottom: 15px; }
  #result p {
    margin: 0; }

#chips,
#datas {
  width: 25%;
  min-width: 120px;
  display: inline-block;
  vertical-align: top; }

#money,
#bet,
#prize {
  display: block;
  padding: 0;
  margin-top: 10px;
  width: 130px;
  height: 20px;
  vertical-align: bottom;
  margin: auto;
  font-weight: bold; }

#money {
  background-color: brown; }

#bet {
  background-color: purple;
  margin-top: 20px;
  margin-bottom: 20px; }

#prize {
  background-color: orange; }

.cards {
  border: 3px dashed white;
  border-radius: 5px;
  width: 40%;
  height: 106px;
  margin: auto;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  text-align: center;
  display: inline-block; }
  .cards img {
    opacity: 0;
    height: 100px; }
  @media only screen and (max-width: 1000px) {
    .cards {
      height: 126px; } }

.get_bet_buttons {
  margin-bottom: 10px; }

#buttons {
  margin-top: 20px;
  margin-bottom: 50px; }

#player1 input,
#buttons button,
#get_bet {
  border-radius: 5px;
  font-weight: bold;
  text-align: center; }

#player1 input:focus,
#buttons button:hover,
#get_bet:hover {
  border: 1px dashed white;
  background-color: green;
  color: white;
  box-shadow: 0 0 2px 1px black; }

/* ------------------- the scrollbars on the playing field -------------------- */
#dealer div::-webkit-scrollbar,
#player1 div::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

#dealer div::-webkit-scrollbar-track,
#player1 div::-webkit-scrollbar-track {
  background: #004000; }

#dealer div::-webkit-scrollbar-thumb,
#player1 div::-webkit-scrollbar-thumb {
  background: #008000; }

/* ------------------- the chips -------------------- */
.get_bet_buttons .get_bet {
  border-radius: 100%;
  border: 5px solid black;
  height: 45px;
  width: 45px;
  font-weight: bold;
  font-size: 11px;
  box-shadow: 0 0 2px 1px black; }
  @media only screen and (max-width: 1000px) {
    .get_bet_buttons .get_bet {
      border-width: 3.75px;
      height: 33.75px;
      width: 33.75px;
      font-size: 8.25px; } }

.get_bet_buttons .get_bet[value="1"] {
  border-color: #9e9e9e; }

.get_bet_buttons .get_bet[value="5"] {
  border-color: red; }

.get_bet_buttons .get_bet[value="10"] {
  border-color: blue; }

.get_bet_buttons .get_bet[value="25"] {
  border-color: green; }

.get_bet_buttons .get_bet[value="50"] {
  border-color: yellow; }

.get_bet_buttons .get_bet[value="100"] {
  border-color: black; }

.get_bet_buttons .get_bet[value="200"] {
  border-color: purple; }

/* ------------------- show cards - animations -------------------- */
.show {
  -webkit-animation-name: show_card;
  -webkit-animation-duration: 1s;
  animation-name: show_card;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

.black_card {
  -webkit-animation-name: show_blackcard;
  -webkit-animation-duration: 1s;
  animation-name: show_blackcard;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

@-webkit-keyframes show_card {
  0% {
    -webkit-filter: blur(2px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    opacity: 1; } }
@keyframes show_card {
  0% {
    filter: blur(2px);
    opacity: 0; }
  100% {
    filter: blur(0px);
    opacity: 1; } }
@-webkit-keyframes show_blackcard {
  0% {
    -webkit-filter: brightness(0%);
    opacity: 0; }
  100% {
    -webkit-filter: brightness(0%);
    opacity: 1; } }
@keyframes show_blackcard {
  0% {
    filter: brightness(0%);
    opacity: 0; }
  100% {
    filter: brightness(0%);
    opacity: 1; } }
/* ------------------- the modals -------------------- */
.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  /* fallback color */
  background-color: rgba(0, 0, 0, 0.8); }

.modal_content {
  overflow: auto;
  margin: 10vh auto;
  width: 80vw;
  min-width: 300px;
  height: 80vh;
  box-shadow: 0 0 10px black;
  border-radius: 5px;
  background-color: black;
  /* fallback color */
  background-color: rgba(0, 0, 0, 0.8); }

.modal_header {
  padding: 5px 10px; }

/* a modal címe */
.modal_header h1 {
  text-align: center;
  color: #bdbdbd; }

.close {
  float: right;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  color: #bdbdbd; }

.close:hover,
.close:focus {
  color: red; }

.modal_body {
  text-align: left;
  margin: 10px;
  margin-top: 5px;
  color: #bdbdbd; }

#options button {
  font-weight: bold; }

#options input,
#options select,
#options button {
  border-radius: 5px; }

#options input:focus,
#options select:focus,
#options button:hover {
  border: 1px solid rgba(40, 0, 80, 0.5);
  background-color: rgba(55, 0, 110, 0.5);
  color: #bdbdbd; }

/* ------------------- the scrollbar in the modals -------------------- */
#options div::-webkit-scrollbar,
#rules div::-webkit-scrollbar {
  width: 12px;
  height: 12px; }

#options div::-webkit-scrollbar-track,
#rules div::-webkit-scrollbar-track {
  background: rgba(40, 0, 80, 0.5); }

#options div::-webkit-scrollbar-thumb,
#rules div::-webkit-scrollbar-thumb {
  background: rgba(55, 0, 110, 0.5); }

/*# sourceMappingURL=main.css.map */
